extends layout

block content
    h1= title
    div#totalMooney
        h2(style="float:left; margin-right:50px") Your Account:
        h2(style="float:left; color: red")= totalMoney
    div.clear

    div#form
        div#leftform
            h2 Expenditure:
            form(method='POST' action='')
                div.form-group
                    label(for='title') Expend:
                    input#expend.form-control(type='text', placeholder='Money you spend' name='title' required='true' value=(undefined === book ? '' : book.title) )
                div.form-group
                    label(for='summary') Choose Tag:
                    for tag in expenditure_list
                        p #{tag.expenditureTag}
                            input#expendTag.form-control(type='checkbox' name=tag.expenditureTag value=tag.expenditureTag)
                div.form-group
                    label(for='isbn') Purpose:
                    input#expendPurpose.form-control(type='text', placeholder='Edit your purpose' name='isbn' value=(undefined === book ? '' : book.isbn) required='true')
                button.btn.btn-primary(type='submit') Submit

        div#rightform
            h2 Earning:
            form(method='POST' action='')
                div.form-group
                    label(for='title') Expend:
                    input#earning.form-control(type='text', placeholder='Money your earning' name='title' required='true' value=(undefined === book ? '' : book.title) )
                div.form-group
                    label(for='summary') Choose Tag:
                    input#earningTag.form-control(type='textarea', placeholder='Summary' name='summary' value=(undefined === book ? '' : book.summary) required='true')
                div.form-group
                    label(for='isbn') Purpose:
                    input#earningPurpose.form-control(type='text', placeholder='Edit type of earning' name='isbn' value=(undefined === book ? '' : book.isbn) required='true')
                button.btn.btn-primary(type='submit') Submit
    div.clear
    button.btn Show detail

    if errors
        ul
            for error in errors
                li!= error.msg